<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beranda</title>
    <link rel="stylesheet" href="../static/assets/dist/css/bootstrap.min.css">
    <script src="../static/assets/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {% include 'Navbar.html' %}
    <div class="content" style="background-image: url(../static/img/Rectangle\ 139.png);width: auto; height:425px;">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" ><a style="color: white; padding-left:30px; margin-top:30px" href="#">Beranda</a></li>
            </ol>
        </nav>
        <h1 class="text-white" style="text-align: center; padding-top:150px;">Selamat Datang di AGROW</h1>
        <h1 class="text-white" style="text-align: center;">Sistem Penjualan Hasil Tani Berbasis Web</h1>
    </div>
    <div class="content" style="width: auto; height:445px; background-color: #007F3F; color:white">
        <p style="text-align: center; padding-top:150px; padding-left:10%; padding-right:10%; font-size:large; ">AGROW merupakan sebuah sistem yang dapat membantu petani dalam melakukan pencatatan 
            dan menjual hasil panen kepada distributor. Agrow juga diperuntukkan kepada distributor untuk
            dapat menemukan penawaran produk hasil panen petani serta menemukan komunitas tani potensial.
            AGROW juga memberikan informasi harga pasar ter-update sebagai referensi bagi Petani dan Distributor
            dalam menentukan harga jual
            </p>
    </div>
    <div class="content" style="padding-bottom: 30px;">
        <h1 style="text-align: center; color:#004225; padding-bottom:30px">Fitur Bagi Petani</h1>
        <div class="d-flex" style="padding-bottom: 30px;">
            <div class="d-flex" style="padding-left: 60px;">
                <img src="../static/img/5.png" alt="" srcset="" style="width: 80px; height:80px">
                <div class="text" style="padding-left: 30px;">
                    <h5 style="text-decoration: underline; text-align:left; color:#004225">Informasi Harga</h5>
                    <h5 style="text-align: left; color:#004225;width:90%">Temukan informasi harga pasar komoditi terbaru dan terupdate</h5>
                </div>
            </div>
            <div class="d-flex" style="padding-right: 60px;">
                <img src="../static/img/1.png" alt="" srcset="" style="width: 80px; height:80px">
                <div class="text" style="padding-left: 30px;">
                    <h5 style="text-decoration: underline; text-align:left; color:#004225">Pencatatan Hasil Panen</h5>
                    <h5 style="text-align: left; color:#004225;width:90%">Catat pencapaian hasil panen Anda dan lihat statistiknya</h5>
                </div>
            </div>
        </div>
        <div class="d-flex" style="padding-bottom: 30px;">
            <div class="d-flex" style="padding-left: 60px;">
                <img src="../static/img/6.png" alt="" srcset="" style="width: 80px; height:80px">
                <div class="text" style="padding-left: 30px;">
                    <h5 style="text-decoration: underline; text-align:left; color:#004225">Jual Hasil Panen</h5>
                    <h5 style="text-align: left; color:#004225; width:90%">Jual hasil panen Anda kepada distributor sekarang juga</h5>
                </div>
            </div>
            <div class="d-flex">
                <img src="../static/img/4.png" alt="" srcset="" style="width: 80px; height:80px">
                <div class="text" style="padding-left: 30px;">
                    <h5 style="text-decoration: underline; text-align:left; color:#004225">Berita dan Informasi</h5>
                    <h5 style="text-align: left; color:#004225; width:90%">Dapatkan informasi seputar pertanian</h5>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content" style="padding-bottom: 30px;">
        <h1 style="text-align: center; color:#004225; padding-bottom:30px">Fitur Bagi Distributor</h1>
        <div class="d-flex" style="padding-bottom: 30px;">
            <div class="d-flex" style="padding-left: 60px;">
                <img src="../static/img/5.png" alt="" srcset="" style="width: 80px; height:80px">
                <div class="text" style="padding-left: 30px;">
                    <h5 style="text-decoration: underline; text-align:left; color:#004225">Informasi Harga</h5>
                    <h5 style="text-align: left; color:#004225;width:90%">Temukan informasi harga pasar komoditi terbaru dan terupdate</h5>
                </div>
            </div>
            <div class="d-flex" style="padding-left: 30px;">
                <img src="../static/img/3.png" alt="" srcset="" style="width: 100px; height:80px">
                <div class="text" style="padding-left: 30px;">
                    <h5 style="text-decoration: underline; text-align:left; color:#004225">Komunitas Tani Potensial</h5>
                    <h5 style="text-align: left; color:#004225;width:90%">Temukan Komunitas Tani Potensial untuk peningkatan bisnis Anda</h5>
                </div>
            </div>
        </div>
        <div class="d-flex" style="padding-bottom:30px;">
            <div class="d-flex" style="padding-left: 60px; width:50%">
                <img src="../static/img/2.png" alt="" srcset="" style="width: 80px; height:80px">
                <div class="text" style="padding-left: 30px;">
                    <h5 style="text-decoration: underline; text-align:left; color:#004225">Penawaran</h5>
                    <h5 style="text-align: left; color:#004225;">Temukan penawaran dari Petani, ajukan harga, dan transaksi sekarang juga</h5>
                </div>
            </div>
            <div class="d-flex" style="width: 50%; padding-left:30px">
                <img src="../static/img/4.png" alt="" srcset="" style="width: 80px; height:80px">
                <div class="text" style="padding-left: 45px;">
                    <h5 style="text-decoration: underline; text-align:left; color:#004225">Berita dan Informasi</h5>
                    <h5 style="text-align: left; color:#004225;">Dapatkan informasi seputar pertanian</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="background-color: #007F3F; padding:40px">
        <h1 style="text-align: center; color:white; padding-bottom:30px">Profil Pengembang</h1>
        <div class="d-flex justify-content-evenly">
            <div class="con">
                <img src="../static/img/Rectangle 183.png" alt="" srcset="" style="padding-left: 50px; padding-bottom:20px">
                <h4 style="text-align: center; color:white">Kostrananda Prawirayudha</h4>
                <h4 style="text-align: center; color:white">Product Designer</h4>
            </div>
            <div class="con">
                <img src="../static/img/Rectangle 184.png" alt="" srcset="" style="padding-bottom:20px">
                <h4 style="text-align: center; color:white">Catur Setiya Darma</h4>
                <h4 style="text-align: center; color:white">UX Designer</h4>
            </div>
            <div class="con">
                <img src="../static/img/Rectangle 185.png" alt="" srcset="" style="padding-bottom:20px">
                <h4 style="text-align: center; color:white">Dini Siskasari</h4>
                <h4 style="text-align: center; color:white">UI Designer</h4>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>