<footer style="background-color: #004225; padding:30px;">
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col" style="padding-left: 60px; padding-right:60px;">
            <div class="judul" style="padding-bottom: 40px;">
                <h2 style="color: white; text-align:left">Hubungi kami</h2>
            </div>
            <div class="contact" style="padding-bottom: 40px;">
                <h5 style="color: white; font-size:small; text-align:left">Telp: 0213-4896781</h5>
                <h5 style="color: white; font-size:small; text-align:left">WA : 089832145766</h5>
                <h5 style="color: white; font-size:small; text-align:left">Senin - Minggu</h5>
                <h5 style="color: white; font-size:small; text-align:left">24 jam nonstop</h5>
            </div>
            <div class="alamat" style="padding-bottom: 40px;">
                <p style="color: white; font-size:small; text-align:justify">Jl. Siliwangi Jl. Ringroad Barat, Area Sawah, Banyuraden, Kec. Gamping, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55293
                </p>
            </div>
          </div>
          <div class="col" style="padding-left: 60px; padding-right:60px;">
            <div class="judul" style="padding-bottom: 30px;">
                <h2 style="color: white; text-align:left">Layanan</h2>
            </div>
            <ul class="nav flex-column" style="align-items: flex-start;">
                <li class="nav-item">
                  <a class="nav-link "  href="#" style="color:white">Beranda</a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" href="#" style="color:white">Berita</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color:white">Informasi Harga</a>
                </li>
              </ul>
          </div>
          <div class="col" style="padding-left: 60px; padding-right:60px;">
            <img src="../static/img/LOGO AGROW 2 2.png" alt="" srcset="">
            <img src="../static/img/LOGO AGROW 2 3.png" alt="" srcset="">
          </div>
        </div>
      </div>
</footer>