<div class="row col-md-12 text-center">
  <img src="../static/img/LOGO AGROW 2 1.png" class="img-fluid mb-4 mx-auto" alt="" srcset="" style="width:30%;">
  <nav class="navbar navbar-expand-lg mx-auto" style="width: 80%; background-color: #004225;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link "  href="{{ url_for('beranda') }}" style="color:white">Beranda</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="/berita" style="color:white">Berita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/info" style="color:white">Informasi Harga</a>
          </li>
        </ul>
        <form class="d-flex">
          <a class="nav-link" href="/register" style="color:white; padding:10px">Daftar</a>
          <a class="nav-link" href="/login" style="color:white; padding:10px">Masuk</a>
        </form>
      </div>
    </div>
  </nav>
</div>